h1{
    color:rgb(202, 202, 216) !important;
}

h2{
    color:rgb(202, 202, 216) !important;
}

.Container{
    width:300px !important;
}

p{
    color:rgb(151, 151, 163) !important;
    font-size: 20px !important;
}

img{
    float: left !important;
    width: 150px !important;
    padding: 5px !important;
}