h2{
    color:rgb(225, 229, 235) !important;
}

h4{
    color:rgb(225, 229, 235) !important;
}

.container{
    border-width: 0px !important;
}

.findSection{
    background-color: rgb(19, 24, 63) !important;

}